
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#space {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: #02090c;
  background: -moz-linear-gradient(top, #02090c 0%, #011c28 100%);
  background: -webkit-linear-gradient(top, #02090c 0%,#011c28 100%);
  background: linear-gradient(to bottom, #02090c 0%,#011c28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02090c', endColorstr='#011c28',GradientType=0 );
}

#planet-wrapper {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

#planetbryan-artwork {
  height: 100vh;
  overflow: visible;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}